version: '3.9'
services:
  db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: flowdb
      MYSQL_USER: flowuser
      MYSQL_PASSWORD: flowpass
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      retries: 10
    volumes:
      - db_data:/var/lib/mysql
      - ./sql:/docker-entrypoint-initdb.d

  web:
    build: .
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: mysql+pymysql://flowuser:flowpass@db:3306/flowdb
#      PYTHONPATH: /app
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    command: ["sh", "-c", "uvicorn main:app --host 0.0.0.0 --port 8000"]

volumes:
  db_data:
    driver: local
